body {
  background: papayawhip;
  margin: 0;
  font-family: sans-serif;
  color:rgb(141, 125, 140)
}

* {
  border: 1px solid rgb(210, 184, 54);
}                  

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-wrap: wrap;
  }  

.a {
  background-color: rgb(11, 11, 67);
  min-width: 100vw;
  max-height: 20vh;
  
}

.b {
  background-color: rgb(46, 103, 171);
  min-width: 100vw;
  min-height: 20vh;

}

#row {
  background-color: rgb(46, 103, 121);
  min-width: 25vw;
  margin: 8px;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;

 } 

.f {
  background-color: rgb(11, 11, 67);
   min-width: 100vw;
   max-height: 30vh;  
   
  
}
     

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .a {
    min-width: 100vw;
  }
  .b {
    min-width: 75vw;
    min-height: 20vh;
    flex-wrap: nowrap;
  }


  #row {
    background-color: rgb(46, 103, 121);
    min-width: 25vw;
    min-height: 15vh;
    flex-wrap: nowrap;
    
   } 


  .f {
    min-width:23vw;
    min-height:auto;
    justify-self: baseline;
    transform: translateY(-100px);
  
  }
}       